.form-container {
  margin: 0.5rem auto;
  display: flex;
}

.form {
  width: 100%;
}

.income,
.expense {
  width: 90%;
  margin: 0.2rem auto;
}

.form input {
  width: 50%;
  margin: 1rem auto;
  border: 0;
  border: 1px dotted lightgray;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 5px;
}

.button {
  display: flex;
  width: 25%;
  margin: 0.2rem auto;
  border: none;
  border-top: 5px solid lightgray;
  border-bottom: 5px solid lightgray;
  font-size: 1.1rem;
  padding: 0.1rem;
  color: grey;
  letter-spacing: 3px;
}
