.balance {
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin: 0.5rem auto;
}

.balance-title {
  width: 95vw;
  background: lightgrey;
  padding: 0.1rem auto;
  letter-spacing: 4px;
}

.init-balance {
  margin: 0.5rem auto;
}

.income-expense {
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin: 0.5rem auto;
  letter-spacing: 4px;
  background: lightgoldenrodyellow;
  border-top: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
}

.income-expense h3 {
  text-align: center;
}
